/* ==UserStyle==
@name Blackboard Stylesheet
@author Kenton Lam
@namespace KentonLam
@description Makes Blackboard look less ugly.
@version 0.5.0
==/UserStyle== */
@-moz-document url-prefix("https://learn.uq.edu.au/") {
    :root {
        /* alternative grey: #333 */
        --uq-purple: #62257c;
        --uq-purple-darker: #561e6f;
    }
    
    a[target="_blank"]:after:not([href="http://www.elearning.uq.edu.au"]) {
        content: " 🔗";
        text-decoration: none;
/*         font-size: 70%; */
    }
    
    /* thanks UQ, I now hate open sans */
    * { font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }
    
    /* vector logo */
    .brandingImgWrap img {
        background-image: url(https://static.uq.net.au/v3/logos/corporate/uq-logo-white.svg);
        background-repeat: no-repeat;
        max-width: 180px;
        top: 19px;
        object-position: -99999px 10px; /* hack to hide original image */
    }
    
/*  bring back the purple */
    #topTabs { 
        background-color: var(--uq-purple);
    }
/* purple for sidebar menu */
    #courseMenuPalette div.navPaletteContent, #courseMenuPalette_contents li {
        background-color: var(--uq-purple);
    }
    #courseMenuPalette_paletteTitleHeading h3 {
        background-color: inherit;
    }
    
/*  hide the tiny but useless links button */
    #quick_links_wrap { display: none }
/*  hide the folder and reload icon from sidebar */
    .actionBarMicro { display: none }
/*  hide looong course title from breadcrumbs */
    .root.coursePath { display: none }
    
/*  fix ugly misaligned box when clicking links in left sidebar */
    .listCm .courseMenu a {
        margin: 0 4px 2px 2px; 
        padding: 6px 6px 6px 30px;
    }
    
/*  remove excessive padding from top left menu */
    .appTabs a { padding: 8px; } 

    .appTabs td { 
        border-bottom: 3px solid #fff0; /* fix alignment of active vs inactive tabs. */
        padding-bottom: 0px !important; /* remove excessive padding */
    }
    
/*  undo excessively high sidebar */
    .topTabs .tabWrapper-right { height: unset; }
    
/*  hide institution/course tabs on announcements */
    .localViewToggle { display: none }
    
/*  seamlessly merge page title with content box  */
    #pageTitleDiv {
        margin: 6px 30px 0 30px !important;
        padding: 15px 15px;
        background-color: #f3f3f3 !important;
        border: 1px solid #cdcdcd !important;
        border-bottom: 0px !important;
    }
    #pageTitleText { font-weight: bold; }
    #containerdiv { margin-top: 0 } /* remove space between title and content */
    
/*  why tf is there a strip of grey above the content */
    .contentPane .shadow { border-top: 6px  solid #fff0; }

/*  fix breadcrumbs path */
    .path .placeholder, .path li, .simplePath li { padding: 0 0 0 0;}
    .path a { padding: 0 }
    .path li:before { content: '»'; font-weight: normal; }
    .path .placeholder { font-weight: bold; }
    #breadcrumbs { padding-left: 19px; background-color: #f3f3f3 }
    
/*  vertically center breadcrumbs and text */
    #breadcrumbs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #breadcrumb_controls_id { order: 2 }
    
/*  make welcome header bars and borders darker */
    .portlet h2 { background-color: #f3f3f3; }
    .portlet { border-color: #c2c2c2; }
/*  hide customisation bar */
/*     #actionbar { display: none} */
    #actionbar {
        border: 1px solid #cdcdcd !important;
        border-bottom-width: 0px !important;
        margin: 0px 30px;
    }
/*  don't expand course rows when hovering */
    .menu-item li:hover { white-space: nowrap; background: #eee; border-top: 0px; border-bottom: 1px solid white; text-decoration: underline; }
    .menu-item li:hover:nth-child(even) { background: #fff; }
/*  vertically center semester headings */
    .menu-item h4 { line-height: 23px; }
    
/*  darker borders for boxes in welcome page */
    .portal nav { box-shadow: none; border: 1px solid #cdcdcd}
    
    .navDivider { border-top: 1px solid #999; }
}
@-moz-document regexp("^https://learn\\.uq\\.edu\\.au/webapps/portal/execute/tabs/tabAction\\?.*tab_tab_group_id=_1_1.*$") {
/*  hide everything in the leftmost column and center the remaining two columns */
    #column0 {
        display: none;
    }
    .containerPortal {
        display: flex;
        justify-content: center;
    }
    .container {
        background: none;
        border: none;
    }
    .menu-item h4 {
        background: var(--uq-purple);
    }
/* hide welcome | notifications dashboard bar and edit bar */
    .paneTabs, .actionBar {
        display: none;
    }
}

@-moz-document url-prefix("https://piazza.com/class/") {
/*  hide donation banner */
    .contributions {
        display: none !important;
    }
}
